html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map {
    width:100%;
    height:100%;
    z-index:1;
    position:absolute;
    margin:0
      }

nav {
    min-height: 50px;
}
nav p {
    margin-top: 10px;
}

#side-container{
    opacity: .9;
    margin-top: 50px;
    position: absolute;
    z-index: 3;
}

#side-nav {
    width: 300px;
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
    background-color: #eee;
}

#side-navbar{
    min-height: 340px;
    max-height: 340px;
    overflow: scroll;
    margin: 5px;
    border: 2px solid black;
}

#pano {
    height: 250px;
    width: 250px;
}

.parkNav {
    list-style: none;
}

li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.parkTitle:hover {
    background-color: grey;
}

#weatherNow {
    color: red;
    font-size: 1.1em;
}

#intro {
    margin: 10px;
    
}

#banner {
    font-size: 1.2em;
    font-weight: bold;
}

#title {
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
