.title,.url,li,p{
	text-align:center}

* {
	box-sizing:border-box
	}

:visited {
	color:#7d7d7d
	}

body {
	background-color:#ccc, 
	color: #7d7d7d
	}

#map-canvas,body,html {
	width:100%;
	height:100%;
	z-index:1;
	position:absolute;
	margin:0}

p {
	font-size:12px;
	margin:5px 0
	}

strong {
	font-size:16px
	}

ul {
	list-style-type:none;
	padding-left:0;
	margin-bottom:0
	}

li {
	color:#337ab7;
	font-family:Helvetica,sans-serif;
	padding:20px 0 15px 15px
	}

li:hover{
	background-color:#7d7d7d;
	color:#fff
	}

a {
	text-decoration:none;
	color:#000
	}

.title{
	font-family:Arial;
	background-color:#000;
	color:#fff;
	padding:10px;
	margin:0
	}

#input {
	margin:15px 0 5px 15px;
	width:83%;
	height:35px;
	font-size:17px;
	font-family:helvetica,sans-serif;color:#000;
	border:none;
	-webkit-box-shadow:2px 2px 5px #9d9d9d;
	outline:0;
	text-align:left
	}

#search-container {
	opacity:.7;
	position:absolute;
	z-index:3
	}

#search-nav {
	width:300px;
	min-height:700px;
	max-height:700px;
	background-color:#fff;
	overflow:hidden
	}

#scroller {
	min-height:600px;
	max-height:600px;
	overflow:scroll;
	margin:2px
}.reset-container{position:absolute;z-index:2;width:100%;float:middle}#flickr,#right-arrow{float:right}#flickr{height:70px;width:70px;margin:6px 10px 0 0}#reset,#reset:focus{height:75px;width:75px;float:right;margin:0 10px 15px 0;border-radius:50%;background-color:#fff;opacity:.6;border:2px solid #00c8ff;outline:0}#reset:hover{border:3px solid #04afde}.gm-style{text-align:center}.web-links,.web-links:visited{color:#337ab7}.modal{position:absolute;height:100%;width:100%;background-color:rgba(0,0,0,.3);z-index:0;display:none}.modal-images{max-width:550px;min-width:550px;height:400px;width:40%;margin:12% auto;opacity:1;z-index:0;border-radius:5%}#left-arrow,#right-arrow{vertical-align:middle;width:10%;border-radius:50%;background-color:#FFF;border:3px solid #04afde;outline:0}.flickr-image-container img{position:relative;display:block;margin:auto;max-width:500px;overflow:hidden;height:300px}#exit-modal{margin-left:91%;margin-top:-10px;width:10%;border-radius:50%}@media screen and (max-width:680px){.flickr-image-container img{position:relative;display:block;margin:auto;max-width:325px;overflow:hidden;height:195px}.modal-images{max-width:325px;min-width:325px;height:260px;margin:30% auto}#search-nav{width:150px}}@media screen and (max-width:700px) and (orientation:landscape){.flickr-image-container img{position:relative;display:block;margin:auto;max-width:325px;overflow:hidden;height:195px}.modal-images{max-width:325px;min-width:325px;height:260px;margin:7% auto}#search-nav{width:180px}}
